.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 87px 50px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: circle;
  list-style-position: inside;
  font-family: Raleway, Arial, sans-serif;
  font-size: 18px;
  white-space: nowrap;
  text-underline-offset: 4px;
  position: relative;
  top: -6px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  justify-self: center;
  width: 148px;
}

.header__logo-image {
  display: block;
}

.header__logo-image img {
  display: block;
  width: 100%;
}

.header__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: end;
  margin-right: 37px;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  max-width: 240px;
  font-family: Raleway, Arial, sans-serif;
  font-size: 18px;
}

.header__address__tel {
  text-underline-offset: 4px;
}

.header__address__mail {
  text-underline-offset: 4px;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  min-height: 757px;
  position: relative;
  padding: 165px 50px 85px 50px;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  display: flex;
  flex-direction: column;
  font-size: 100px;
  color: white;
  font-family: Raleway, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.aligned-text_left {
  display: block;
  line-height: 115%;
}

.aligned-text_center {
  text-align: center;
  line-height: 115%;
  position: relative;
  top: 18px;
}

.aligned-text_right {
  text-align: right;
  line-height: 115%;
  position: relative;
  top: 40px;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 118px;
}

.cover__description-text {
  position: relative;
  top: 27px;
  z-index: 2;
  color: white;
  word-spacing: 19px;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  font-family: Raleway, Arial, sans-serif;
}

.bet-button {
  /* сброс стандартных стилей */
  margin: 0;
  border: none;
  /* новые стили */
  font-size: 22px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 27px;
  z-index: 2;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  text-transform: uppercase;
  padding: 12px 32px 11px 31px;
  cursor: pointer;
}

.lots {
  margin-top: 180px;
  padding: 0 24px;
}

.lots__heading {
  margin-left: 40px;
  margin-bottom: 20px;
  font-family: Raleway, Arial, sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 25px;
  gap: 25px;
}

.lots__card-list-item {
  /* сброс стандартных стилей */
  list-style: none;
  margin: 0;
  padding: 0;
  /* новые стили */
  background-size: cover;
  background-position: center;
  width: 334px;
  min-height: 596px;
}

.card-link {
  display: block; /*это ща*/
  height: 100%;
  text-decoration: none;
  text-underline-offset: 3px;
}

.card__title {
  font-family: Raleway, Arial, sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-underline-offset: 3px;
  text-decoration: underline;
  color: white;
  z-index: 2;
}

.card {
  height: 100%;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  position: relative;
}

.card__text {
  font-size: 20px;
  color: white;
  margin-top: auto;
  z-index: 2;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  display: block;
  font-family: Raleway, Arial, sans-serif;
  text-underline-offset: 5px;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 40px;
  text-transform: lowercase;
}

.about {
  margin-top: 120px;
  margin-left: 24px;
  margin-right: 24px;
  display: grid;
  grid-template-columns: 359px 1fr;
}

.about__title {
  text-transform: uppercase;
  font-size: 40px;
  font-family: Raleway, Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 100px;
}

.about__text {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  font-family: Raleway, Arial, sans-serif;
  font-weight: normal;
  font-size: 20px;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 47px;
  margin-top: 27px;
}

.about__column {
  padding-top: 133px;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.footer {
  margin-top: 180px;
  padding: 0px 50px 82px 50px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.footer__address {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  max-width: 240px;
  font-family: Raleway, Arial, sans-serif;
  font-size: 18px;
  line-height: 24.3px;
  flex-direction: nowrap;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

